body {
    background:url('rustyNose.gif');       
    background-size: cover;
    background-position: center;     
    text-align: center;
    margin-top: 30px;
}

button {
    border-radius: 8px;
    border-color:black;
    font-size: 25px;
    font-weight: bold;
    transition-duration: 0.4s;
    text-align: center;
}

.startgame {
    background-color: grey;
}

button:hover {
    background-color: white;
    color: rgb(0, 119, 255); /* light blue */
}


input {
    width: 20%;
    padding: 10px 10px;
    margin: 4px 0;
    border-radius: 8px;
    border-color: black;
    text-align: center;
    font-weight: bold;
    font-size: large;
}
  
.instrumentSelect {
    width: 20%;
    padding: 10px 10px;
    margin: 4px 0;
    border-radius: 8px;
    border-color: black;
    border-width: 2px;
}

.intro {
    font-size: 70px;
    font-weight: bold;
}
    
.textonscreen {
    font-size: 60px;
    font-weight: normal;
}
