body {
    background:url('rustyNose.gif');       
    background-size: cover;
    background-position: center;     
    text-align: center;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.doNextThing {
    display: none;
}

.instructionsincorner {
    padding: 20px;
    padding-right: 50px;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: large;
    background-color: grey;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.noteA {
    font-size: larger;
    /* top: 100px;
    left: 400px; */
    position: relative;
    background-color: red;
    animation-name: noteA_animation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    /* animation-direction: reverse; */
}

@keyframes noteA_animation {
    0% {left: 300px; top: 100px;}
    100% {left:0px; top:0px;}
} */

/* div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
}
  
@keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
} */

button {
    border-radius: 8px;
    border-color:black;
    font-size: 25px;
    font-weight: bold;
    transition-duration: 0.4s;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: rgb(0, 119, 255);/* light blue */
    color: white;
}

input {
    width: fit-content;
    padding: 10px 10px;
    margin: 4px 0;
    border-radius: 8px;
    border-color: black;
    text-align: center;
    font-weight: bold;
    font-size: large;
}
  
.instrumentSelect {
    width:fit-content;
    padding: 10px 10px;
    margin: 4px 0;
    border-radius: 8px;
    border-color: black;
    border-width: 2px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}
    
.textonscreen {
    font-size: 60px;
    font-weight: normal;
}
